<html>
    <head>                
        <link rel="stylesheet" type="text/css" href="../lib/vendor/roboto-font/style.css"/>
        <link rel="stylesheet" type="text/css" href="../lib/vendor/material-design-lite/material.min.css"/>                        
        <link rel="stylesheet" type="text/css" href="styles/stylesheet.min.css"/>                
        <link rel="stylesheet" type="text/css" href="../lib/vendor/font-awesome/css/font-awesome.min.css"/>        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div id="AppContainer" />
        <script>require('./app.js')</script>
        <script src="../lib/vendor/material-design-lite/material.min.js"></script>
    </body>
</html>