body {
    font-family: "Roboto";
    background-color: #eee;
    height: 100%;
    -webkit-user-select: none;  
    cursor: default;  
}

#welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .appcontainer-intro-card-square {
        width: 320px;
        height: 320px;
    }
    .appcontainer-intro-card-square > .mdl-card__title {
        color: #fff;
        background: url('../../data/images/electron_starter_backdrop.png') no-repeat #333;
    }
}